{% extends "base.html"%}
{% load staticfiles %}
{% block head%}
<link href="https://fonts.googleapis.com/css?family=Lobster|Tulpen+One" rel="stylesheet">
<style>
    .logininput{
        width:100%;
        height:40px;
        border:0px;
        border-bottom:2px solid #ccc;
    }
    .logininput:focus{
        box-shadow:none;
        outline: 0px;
    }
    p,span{
        font-family: 'Lobster', cursive;font-weight:normal !important;
    }
    .line{
        height:2px;width:30%;background:rgb(213,13,12);
    }
    .c:before,ins {
    content: '✓ ';color:green;font-weight:bold;margin-left:20px;
    }
    .note{
        color:rgb(213,13,12);
    }
    
</style>
{% endblock %}
{% block body %}
{% if status %}
<script>
    alert('{{status}}');
</script>
{% endif %}
<div class="container">
        <div class="row shadow-lg my-5">
            <div class="col-md-6"  style="background:#fff;">
            <div class="p-5 text-center">
                <strong style="font-size:20px;">Before Sign Up Please keep an eye on below mentioned points
                    <span class="d-block line mx-auto   "></span>
                </strong>
            </div>
            <div class="px-5">
                
                 <p class="text-center">We are hiring for a Delivery Boys to Collect and distribute products to our customers. You will represent our company in a professional Manner and cost-effective manner to increase our profitability and customer satisfaction.</p>
                <span>Responsibilities:</span>
                <ul>
                    <li class="c ">Follow routes and time schedule on time always.</li>
                    <li class="c ">Load, unload, prepare, inspect and operate a delivery vehicle.</li>
                    <li class="c ">Complete logs and maintain reports.</li>
                    <li class="c ">Collect payments and deliver items.</li>
                    <li class="c ">Ask for feedback after solving the queries of customer.</li>
                </ul>
                <span>Requirements:</span>
                <ul>
                    <li class="c ">10th-12th pass, Under-graduate can apply</li>
                    <li class="c ">Good organizational and time management skills</li>
                    <li class="c ">Valid driver’s license.</li>
                    <li class="c ">Good driving record.</li>
                </ul>
                <span>Salary</span><br/> 
                <article>As Per Industry Standards</article>
                <section class="text-center mt-3 note">
                        <caption class="text-center text-danger mt-3 d-block"><strong>Note: </strong>
                        Zykaa Can Approve/Dis-approve your application on the behalf of the information filled by you!!</caption>
                </section>

            </div>
            </div>

            <div class="col-md-6 p-5" style="background:#fff;">
                <h1 class="mb-5">Career With Zykaa
                    <span class="line d-block"></span>
                </h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="row">
                    <div class="col-md-2">
                        <label>Gender</label>
                        <select name="gender" class="form-control">
                            <option value="Mr.">Male</option>
                            <option value="Miss">Female</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="first_name" minlength="3" pattern="[A-Za-z]+" title="Must Contain Character Only With No Spaces"/>
                    </div>
                    <div class="col-md-5">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="last_name" minlength="3" pattern="[A-Za-z]+" title="Must Contain Character Only With No Spaces"/>
                    </div>
                </div>
                <label>Email</label>
                <small class='' id='msz'></small>
                <input type="email" class="form-control" name="email" id="user"/> 
                <small class='text-danger ml-3' id='msz1'></small>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Password</label>
                        <input type="Password" class="form-control" id="pass" onkeyup=checkpas() name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"/>
                    </div>
                    <div class="col-md-6">
                        <label for="">Confirm Password</label>
                        <input type="Password" id="cpass" onkeyup=checkpas() class="form-control" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"/>
                    </div>
                </div>
                
                <label for="">Contact Number</label>
                <input type="number" class="form-control" name="contact" min="1000000000" max="9999999999"/>
                <div class="row">
                        <div class="col-md-6">
                            <label>Age</label>
                            <input type="number" class="form-control" name="age" maxlength="2" minlength="2">
                        </div>
                        <div class="col-md-5">
                            <label>Upload Profile</label>
                            <input type="file" class="form-control" name="profile" />
                        </div>
                    </div>
                <label for="">City</label>
                <textarea class="form-control" name="city"></textarea>
                <input type="submit" class="btn btn-success mt-3" id="submit"/>
                </form>
            </div>
        </div>
    </div>
    <script>
    $(function(){
        $('#user').keyup(function(){
            uname = $(this).val();
            $.ajax({
                url:'{% url "mysite:check_user"%}',
                type:'get',
                data:{username:uname},
                success:function(data){
                    if(data==""){
                        $("#submit").removeAttr('disabled');
                        $('#msz').removeClass('text-danger').addClass('text-success').html(data);
                    }else{
                        $("#submit").attr('disabled','disabled');
                        $('#msz').removeClass('text-success').addClass('text-danger').html(data);


                    }
                    
                }
            })
        });
    });
    </script>
    <script>
    function checkpas(){
      let p=$('#pass').val();
      let cp=$('#cpass').val();
      
      if(p==cp){
        $('#pass').css('border','1px solid green');
        $('#cpass').css('border','1px solid green');
        $('#submit').removeAttr('disabled');
        $('#msz1').html('\n ');
      }else{
        $('#pass').css('border','1px solid red');
        $('#cpass').css('border','1px solid red');
        $('#submit').attr('disabled','disabled');
        $('#msz1').html('Password Does Not Match');
      }
    }
    </script>
{% endblock %}
